{% extends 'users/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}
{% block body %}
    <div class="login__outer">
        <div class="login__inner bg-login-deep-blue">
            <h2 class="light mb-20 login-deep-blue-highlight">Sign in</h2>
            <form action="/login{% if next %}?next={{ next }}{% endif %}" class="login-form-control form-colors-inverse" method="POST">
                <div class="form-group">
                    <label for="username">
                        Username
                    </label>
                    <div class="form-icon"><i class="mdi mdi-account"></i></div>
                    <input name="username" type="text" id="username">
                </div>
                <div class="form-group">
                    <label for="password">
                        Password
                    </label>
                    <div class="form-icon"><i class="mdi mdi-lock"></i></div>
                    <input name="password" type="password" id="password">
                </div>
                <div class="form-group">
                    <button class="submit block mt-10" type="submit">Submit</button>
                </div>
            </form>
            <div style="text-align: center" class="login-deep-blue-highlight">…</divs>
            <a href="/signup/" class="resetlink">
                <button class="mt-15 btn btn-block bg-login-brown login-brown-highlight" style="width: 100%">
                    Create new account
                </button>
            </a>
        </div>
    </div>
{% endblock %}
